.nav {
	position: fixed;
	height: var(--nav-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--content-width);
	left: calc(50% - var(--content-width) / 2);
	top: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	box-shadow: 0px 5px 30px 3px rgba(0, 0, 0, 0.09);
	padding: 20px;
	border-radius: 20px;
	z-index: 1;
}

.nav-logo {
	height: 36px;
	width: 102px;
	background-color: var(--theme-1);
	border-radius: 18px;
}

.margin-right {
	margin-right: 8px;
}